* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f6f8;
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

form {
  text-align: center;
}

#item {
  height: 2rem;
  width: 16rem;
  border: 1px solid gray;
  font-size: 1rem;
  border-radius: 1rem;
}

#submit {
  border: 1px solid gray;
  font-size: 1rem;
  margin-left: 2rem;
  height: 2rem;
  width: 8rem;
  border-radius: 1rem;
}

#submit:hover {
  cursor: pointer;
  background-color: gray;
}

.line-div {
  border: 2px solid black;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 4rem;
  width: 12rem;
}

.main-div {
  max-width: 60%;
  height: 80vh;
  background-color: white;
  margin: auto;
  margin-top: 10vh;
  border-radius: 2rem;
  padding: 50px;
}

.item {
  background-color: #f2f6f8;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  border-radius: 1rem;
}

.item h3 {
  margin: 0;
}

.item button {
  float: right;
}
